/log
/txt_data
/processed_data
/result
/fl_code/logistic/log
/fl_code/svm/log
/fl_code/xgboost/log
/fl_code/mlp/log
/fl_code/randomforest/log

/fl_code/memorandum.py
/fl_code/logistic/*.sh
/fl_code/svm/*.sh
/fl_code/xgboost/*.sh
/fl_code/mlp/*.sh
/fl_code/randomforest/*.sh

config.yaml

